<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Chat App</h1>
  </ion-header-bar>
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input ng-model="user" type="text" placeholder="User Name">
      </label>
    </div>
    <button ng-click="joinRoom(user)" class="button button-block button-balanced" type="button" name="button">
      Join Chatroom</button>

  </ion-content>
</ion-pane>
